<apex:page controller="CommissionReport" 
			readOnly="true" 
			id="CommissionPageExport" 
			cache="TRUE"
			contentType="text/csv#CommissionReport.csv">"Created By","Payment Date","Created Date","Transaction ID","Email","Amount","Last Payment Date","Previous Sub End","Sub Start","Days Lapsed","Transaction Type","Campaign"
<apex:repeat value="{!results}" var="r">
"{!r.trans.createdBy.Name}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.paymentDateDisplay}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.createdDateDisplay}"/></apex:outputText>,"{!r.trans.Name}","{!r.trans.go1__Account__r.PersonEmail}","{!r.trans.go1__Amount__c}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.lastPayment}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.previousSubEnd}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.trans.Subscription_Instance__r.Start_Date__c}"/></apex:outputText>,"{!r.daysLapsed}","{!r.transactionType}",{!r.trans.Campaign__c}
</apex:repeat>
</apex:page>