<apex:page controller="DeferredPaymentsReport" 
			readOnly="true" 
			id="deferredPaymentsPageExport" 
			cache="TRUE"
			contentType="text/csv#DeferredPaymentsReport.csv">"Subid","emailaddress","reference","payment_date","substatus","substartdate","isrenewal","pay_status","subscription_instance","transaction_number","last_prod_start","last_prod_end","sub_start","sub_end","sub_type","original_start_date","original_end_date","refunded","amount","subscription_months","accrued_months","months_left","Monthly Allocation","Total P &amp; L Allocation","Deferred Revenue","Adjusted Start Date","Adjusted Start Date","Adjusted End Date","validation"<apex:repeat var="m" value="{!monthCount}">,<apex:outputText value="{0, date, MMM-yy}" ><apex:param value="{!monthHeaders[m]}" /></apex:outputText></apex:repeat>
<apex:repeat value="{!results}" var="r">
"{!r.subid}","{!r.trans.go1__Account__r.PersonEmail}","{!r.trans.go1__Reference__c}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.paymentDateDisplay}"/></apex:outputText>,"{!r.subStatus}","{!r.trans.go1__Account__r.ER_Reporting_Sub_Start_Date__c}","{!r.trans.Subscription_Instance__r.Is_Renewal__c}","{!r.trans.go1__Status__c}","{!r.trans.Subscription_Instance__r.Name}","{!r.trans.Name}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.lastProdStart}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.lastProdEnd}"/></apex:outputText>,"{!r.trans.Subscription_Instance__r.Start_Date__c}","{!r.trans.Subscription_Instance__r.End_Date__c}","{!r.sub_type}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.originalStartDate}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.originalEndDate}"/></apex:outputText>,"{!r.trans.go1__Refunded__c}","{!r.trans.go1__Amount__c}","{!r.subscriptionMonths}","{!r.accruedMonths}","{!r.monthsLeft}","{!ROUND(r.monthlyAllocation,2)}","{!ROUND(r.totalPLAllocation,2)}","{!ROUND(r.deferredRevenue,2)}",<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.adjustedStartDate}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.adjustedStartDate1}"/></apex:outputText>,<apex:outputText value="{0,date,yyyy-MM-dd hh:mm:ss}"><apex:param value="{!r.adjustedEndDate}"/></apex:outputText>,"{!r.validation}"<apex:repeat var="m" value="{!monthCount}">,<apex:outputText value="{!r.monthlyDeferred[m]}" /></apex:repeat>
</apex:repeat>
</apex:page>