<apex:page controller="DeferredPaymentsReport" readOnly="true" id="exportDeferredRevenuePage" contenttype="application/x-excel#filename.xls" cache="TRUE" expires="900">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	</head>
    <apex:pageBlock title="Deferred Revenue Report" id="pageBlock">
		<apex:outputText value="Deferred Revenue Report" />
		
		<!-- Table Data -->
		<apex:pageBlockTable value="{!table}" var="r" id="report-table">
			<apex:column headerValue="Source" width="20%">
				<apex:outputText value="{!r}" rendered="{!streamName <> null && streamName <> '' && (productName == null || productName == '')}" />
				<apex:outputText value="{!r}" rendered="{!streamName == null || streamName == ''}" >
					<apex:param name="stream" value="{!r}" assignTo="{!streamName}" />
				</apex:outputText>
				<apex:facet name="footer">
					<apex:outputText escape="false" value="Total P&L<br/>Accrual"/>
				</apex:facet>
			</apex:column>
			
			<apex:repeat var="m" value="{!months}">
				<apex:column headerValue="{!dateLabels[m]}" width="{!80/numberOfMonths}%">
					<apex:outputText value="{0, number, currency}" rendered="{!(streamName == null || streamName == '') || table[r].values[m] <= 0 || (productName <> null && productName <> '')}">
						<apex:param value="{!table[r].values[m]}" />
					</apex:outputText>
					<apex:outputLink value="/apex/subscriber_list" rendered="{!table[r].values[m] > 0 && streamName <> null && streamName <> '' && (productName == null || productName == '')}">
						<apex:outputText value="{0, number, currency}">
							<apex:param value="{!table[r].values[m]}" />
						</apex:outputText>
						<apex:param name="product" value="{!table[r].label}"/>
						<apex:param name="date" value="{!table[r].dateLinks[m]}"/>
					</apex:outputLink>
					
					<apex:facet name="footer">
						<apex:outputText escape="false" value="{0, number, currency}<br/>{1, number, currency}">
							<apex:param value="{!totalsData[m]}"/>
							<apex:param value="{!accrualData[m]}"/>
						</apex:outputText>
					</apex:facet>
				</apex:column>
			</apex:repeat>
	  	</apex:pageBlockTable>
		  	
	</apex:pageBlock>
</apex:page>