<apex:page standardController="Account" extensions="KissmetricsPersonDetails">

  <apex:form >
  	<apex:pageBlock rendered="{!IF((Account.PersonEmail != '' && showKM == false), true, false)}" >
  		<apex:pageBlockSection >
  			<apex:commandButton action="{!getKMDetails}" value="Get KissMetric Details" id="showKMButton" style="float:left;" />
  		</apex:pageBlockSection>
  	</apex:pageBlock>
  </apex:form>
	
  <apex:iframe rendered="{!IF((Account.PersonEmail != '' && showKM == true), true, false)}"
    src="https://app.kissmetrics.com/people/find/{!Account.PersonEmail}?mode=embedded&key={!$Setup.API_Keys__c.KISSmetrics_API_Key__c}&secret={!$Setup.API_Keys__c.KISSmetrics_API_Secret__c}"
    width="100%"
    scrolling="true"
  />
</apex:page>