<apex:page sidebar="false" controller="MergeDuplicateAccounts">
	<apex:form >
      <apex:sectionHeader title="Merge Duplicate Accounts"/>
      <apex:pagemessages />
      <apex:pageBlock >
        
        <apex:pageBlockSection columns="1">
	        <apex:panelGroup >
	            <apex:inputFile value="{!contentFile}" filename="{!nameFile}" />
	        	<br/><font color="red"><b>Note: Please use the standard csv file to upload Account ID's.</b></font>
	        	<br/><br/><apex:commandButton action="{!ReadFile}" value="Upload File" id="uploadButton" style="width:70px;"/>
	        </apex:panelGroup>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection columns="1" rendered="{!NOT(ISNULL(accountIds))}">
	      	<apex:panelGroup >
		      	<br/><b>Merged Account's</b>
		      	<apex:dataTable value="{!accountIds}" var="account" cellPadding="4" border="1">
			      <apex:column headerValue="Account ID" value="{!account.accountId}" />
			      <apex:column headerValue="Email" value="{!account.email}" />
			      <apex:column headerValue="Merged" value="{!account.merged}" />
			    </apex:dataTable>
		    </apex:panelGroup>
	    </apex:pageBlockSection>
	    
      </apex:pageBlock>      
   </apex:form>
</apex:page>