<apex:page controller="ThirdPartyCallLogger" >
	<apex:pageBlock >
    	<apex:outputText value="{!$CurrentPage.parameters.totalCallsAdded} Calls Added!" style="font-weight:bold;font-size:12pt;" />
    </apex:pageBlock>
</apex:page>