<apex:component controller="Go2Debit_PaymentController">
     <apex:includeScript value="/soap/ajax/27.0/connection.js"/>
    <script>
sforce.Transport = function(url) {
    this.url = url;
    this.connection = null;

    this.newConnection = function() {
        try {
            this.connection = new ActiveXObject('Msxml2.XMLHTTP');
        } catch(e) {
            try {
                this.connection = new ActiveXObject('Microsoft.XMLHTTP');
            } catch(e) {
                this.connection = new XMLHttpRequest();
            }
        }

        return this.connection;
    };

    this.send = function (envelope, callback, async, timeout) {
        this.newConnection();
        if (async) {
            this.connection.onreadystatechange = this.httpConnectionCallback;
        }
        var holder = new sforce.internal.ConnectionHolder(this.connection, callback);
        sforce.internal._connections.push(holder);
        this.connection.open("POST", this.url, async);
        this.connection.setRequestHeader("Content-Type", "text/xml; charset=UTF-8");
        this.connection.setRequestHeader("SOAPAction", "\"\"");
        this.connection.setRequestHeader("Accept", "text/xml");
     //   this.connection.setRequestHeader("User-Agent", "SFAJAX 1.0");
        this.connection.send(envelope);
        if (async && typeof(timeout) !== "undefined") {
            this.setTimeoutOn(holder, timeout);
        }
        if (!async) {
            this.httpConnectionCallback();
        }
    };

    this.setTimeoutOn = function (holder, timeout) {
        function abortConnection() {
            if (holder.connection.readyState !== 4) {
                holder.timedout = true;
                holder.connection.abort();
            }
        }
        setTimeout(abortConnection, timeout);
    };

    this.httpConnectionCallback = function () {

        for (var i = 0; i < sforce.internal._connections.length; i++) {
            var holder = sforce.internal._connections[i];
            if (holder !== null) {
                if (holder.timedout) {
                    sforce.internal._connections[i] = null;
                    sforce.internal._connections.slice(i,1);
                    holder.callback.httpCallback("Remote invocation timed out", false);
                } else  if (holder.connection.readyState == 4) {
                    sforce.internal._connections[i] = null;
                    sforce.internal._connections.slice(i,1);
                    var success = holder.connection.status == 200;
                    if (sforce.debug.trace) {
                        sforce.debug.log("Response : status - " + holder.connection.status);
                        sforce.debug.logXml(holder.connection.responseText);
                    }
                    if (sforce.debug.apexTrace) {
                        sforce.debug.logApex(holder.connection.responseText);
                    }
                    if (holder.connection.responseXML && holder.connection.responseXML.documentElement) {
                        holder.callback.httpCallback(holder.connection.responseXML.documentElement, success);
                    } else {
                        holder.callback.httpCallback("Remote invocation failed, due to: " + holder.connection.responseText +
                                                     " status code: ", holder.connection.status);
                    }
                }
            }
        }
    };
};
</script>
    <apex:includeScript value="/soap/ajax/27.0/apex.js"/>
    <apex:includeScript value="{!URLFOR($Resource.go1__jquery)}"/>
    <apex:includeScript value="{!URLFOR($Resource.go1__go2debit)}"/>
    <apex:includeScript value="{!URLFOR($Resource.go1__go2debit_payment_account)}"/>
    <apex:stylesheet value="{!URLFOR($Resource.go1__style)}"/>
        <script>
        	var j$ = jQuery.noConflict();
 
        	j$(document).ready(function(){
		        // session gets messed up, this ensure the page has the correct ID.
	    		sforce.connection.sessionId = "{!$Api.Session_ID}";
				go2debit_init();
								
				j$('[name=payment-option]').click(function() {
					j$('input[name$=accountType]').val(j$(this).val());
				});
				j$('[name$=payment-option]').click();
		    });
		</script>
    <apex:attribute type="go1.PaymentWrapper" name="go2debit_paymentWrapper" description="Payment" assignTo="{!payment}"></apex:attribute>
    <apex:attribute type="Account" name="go2debit_account" description="Account" assignTo="{!account}"></apex:attribute>
    
    <apex:pageBlockSection showHeader="false" title="Payment Method" columns="1" id="payment-type">
    	<apex:inputHidden value="{!accountType}" id="accountType" />
        <apex:pageBlockSectionItem id="existing-payment-type-item" rendered="{!paymentAccountsEmpty == false}" >
            <apex:outputLabel for="">
                <label for="existing-account">Existing Credit Card</label>
                <input type="radio" id="existing-account" name="payment-option" value="existing"/>
            </apex:outputLabel>
            <apex:panelGroup >
                <apex:selectList required="false" id="existing-account-desc" size="1" value="{!paymentAccount}" >
                    <apex:selectOptions value="{!paymentAccounts}" />
                </apex:selectList>
            </apex:panelGroup>
        </apex:pageBlockSectionItem>
         
        <apex:pageBlockSectionItem id="new-payment-type-item" >
            <apex:outputLabel for="">
                <label for="new-account">New Credit Card</label>
                <input type="radio" id="new-account" name="payment-option" value="new" checked="checked"/>
            </apex:outputLabel>
            <apex:panelGroup >
                <apex:selectList required="false" id="payment-type" size="1" value="{!paymentGateway}">
                     <apex:selectOptions value="{!paymentGateways}" />
                </apex:selectList>
                <span id="validate-paymentmethod" class="error hidden"><apex:outputText value="* Select a payment method" /></span>
            </apex:panelGroup>
        </apex:pageBlockSectionItem>
         
    </apex:pageBlockSection>
    
    <div class="creditCardWrapper" style="display:none">
        <c:Go2Debit_CreditCard paymentWrapper="{!payment}"></c:Go2Debit_CreditCard>
    </div>

</apex:component>